section.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    & > header {
        margin: 0;
        padding: 4px;
        display: block;
        border: 1px solid #ccc;

        & > .uk-iconnav {
            float: right;
        }

        & > h2 {
            text-transform: uppercase;
            font-size: 10pt;
            display: inline;
        }
    }
}

.app-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-tile {
    margin: 5px 0 5px 0;
    border: 1px solid #ccc;
    padding: 8px;

    transition: transform 0.5s, opacity 0.5s;
}

.user-tile-enter {
    transform: translateY(-50px);
    opacity: 0;
}

.app-tile {
    margin: 50px;

    width: 165px;

    text-align: center;

    cursor: pointer;

    .app-tile-menu {
        position: absolute;
        z-index: 10000;
        display: none;
    }

    &:hover .app-tile-menu {
        display: block;
    }

    img {
	width: 128px;
	height: 128px;

	max-width: 128px;
	max-height: 128px;
    }

    transition: opacity 0.5s;
    &.app-tile-enter {
        opacity: 0;
    }
    &.app-tile-enter-active {
    }
}

.disk-tile img.disk-tile-image {
    width: 128px;
    height: 128px;
    max-width: 128px;
    max-height: 128px;
}

@keyframes enter-header {
    0% { transform: translateY(-50px); opacity: 0; }
    100% { transform: none; opacity: 1; }
}

.admin-header {
    margin: 50px auto 0 auto;
    max-width: 800px;
    text-align: center;

    .avatar-image {
        text-align: center;
        margin: 0 auto;
        width: 64px;
        display: block;
    }

    h1 {
        text-align: center;

        animation: enter-header;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

        font-weight: 400;

        margin: 10px 0 15px 0;
    }
}

.admin-mode-button {
    cursor: pointer;

    color: #888;

    transition: color 0.2s, background-color 0.2s;

    &.engaged {
        background-color: #888;
        color: white;
    }
}

.user-dialog-body {
    display: flex;
    flex-direction: row;
}

.user-tile {
    cursor: pointer;
}

.avatar-form {
    display: flex;
    flex-direction: column;
}

.avatar-form > div {
    display: flex;
    flex-direction: column;
}



