<html lang="en">
  <head>
    <meta charset="utf-8"/>

    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-background-muted uk-height-viewport">
      <div class="uk-position-bottom-center uk-position-small uk-visible@m">
	<span class="uk-text-small uk-text-muted">© 2017, 2018, 2019 Intrustd, LLC</span>
      </div>
      <div class="uk-width-medium uk-padding-small">
        <img src="/images/intrustd-banner.svg" class="uk-display-block uk-align-center" style="height:25%"/>
	<div class="uk-margin" id="user-box">
      </div>
    </div>
  </body>
</html>